@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba($black, 0.5)
}

*::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 20px;
}

html, body {
  overflow: hidden;
  font-family: $share-tech-mono;
  background: $black;
  color: $primary;
}