<template>
  <p>Welcome to eKKo.dev</p>
  <p>
    This is my personal playground. It's currently under construction so check back later for more content!
  </p>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Welcome'
})
</script>

<style lang="scss" scoped></style>
